<h1 style="color: green;">[[${questionList}]]</h1>

<h2>Hello Template!</h2>

<table border="1">
    <thead>
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성일시</th>
    </tr>
    </thead>
    <tbody>
<!--    each는 향상된 반복문 !-->
        <tr th:each="q : ${questionList}">
            <td>
                <a th:text="${q.id}" th:href="@{|/question/detail/${question.id}|}"></a>
            </td>
            <td>
                <a th:text="${q.subject}" th:href="@{|/question/detail/${question.id}|}"></a>
            </td>
            <td th:text="${q.createDate}"></td>
        </tr>
    </tbody>
</table>